/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .col-md-8 {
    margin-left: -2rem;
  }
}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-md-8 {
    margin-left: -3rem;
    margin-right: auto;
  }

  p.future {
    margin-left: 6rem;
    font-family: "Kalam", cursive;
  }

  p.work {
    font-family: "Kalam", cursive;
  }

  div.future {
    margin-left: 16rem;
  }

  .col-md-4 {
    display: inline-block;
  }
}
img.logo2 {
  width: 120px;
}

img.whitetri {
  display: flex;
  align-self: baseline;
  margin-top: -3px;
  align-self: baseline;
  height: 100px;
}

img.tri {
  align-items: baseline;
  display: flex;
  align-self: baseline;
  margin-top: -3px;
  height: 100px;
}

img.greytri {
  display: flex;
  align-self: baseline;
  margin-top: -3px;
  align-self: baseline;
  height: 80px;
}

.navbar.navbar-expand-lg.navbar-light {
  background-color: #2ab7ca;
  color: whitesmoke;
  font-weight: bold;
  font-family: "Kalam", cursive;
}

.navbar-light .navbar-nav .nav-link {
  color: #e6e6ea;
  font-weight: bold;
  font-family: "Kalam", cursive;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fed766;
  text-decoration: underline;
  font-weight: bold;
  font-family: "Kalam", cursive;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fed766;
  font-weight: bolder;
  font-family: "Kalam", cursive;
}

.col-md-8 {
  display: inline-block;
}

div.svgtri {
  height: 170px;
  display: flex;
  justify-content: center;
}

div.svgwhitetri {
  height: 120px;
  display: flex;
  justify-content: center;
}

img.profile {
  width: 40%;
  border-radius: 50%;
  border-style: solid;
  border-color: #fed766;
  shape-outside: circle(50%);
  float: left;
  margin: 16px;
}
hr.line2 {
  margin-left: 4em;
}

p.profiletext {
  font-family: "Kalam", cursive;
  font-size: 1.3em;
}

h2.examples {
  text-align: center;
  font-family: "Kalam", cursive;
  font-size: 3em;
  color: #2ab7ca;
}

p.techrotation {
  transform: rotate(270deg);
  color: #2f3b42;
  position: absolute;
  margin-top: 200px;
  font-size: 30px;
  font-family: "Slabo 27px", serif;
}

i.fab:hover {
  color: #f8981d;
}

li.works {
  margin-left: 110px;
  margin-top: 20px;
  list-style: none;
  font-family: "Slabo 27px", serif;
  color: #675a47;
  font-weight: bold;
}

li.works:hover {
  color: crimson;
}

hr.tech {
  margin-left: 100px;
}

div.container2 {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #e6e6ea;
}

div.card-deck {
  margin-top: 100px;
  display: inline-flex;
  margin-bottom: 60px;
}

div.card-deck .card {
  border-radius: 2.25rem;
}

img.card-img-top {
  height: 200px;
  border-top-left-radius: calc(2.25rem - 1px);
  border-top-right-radius: calc(2.25rem - 1px);
  border: ridge;
}

div.row2 {
  padding-bottom: 3em;
}

section.mb-4 {
  padding-top: 0;
  background-color: #fed766;
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 0 !important;
}

div.beigetri {
  height: 100px;
  display: flex;
  justify-content: center;
}
hr.line {
  margin-left: 2em;
}

h1.my-4 {
  margin-top: 1.5rem;
}

div.row2 {
  display: flex;
  justify-content: center;
}

div.footlogos {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-top: 1em;
}

div.container3 {
  background-color: #2ab7ca;
}

i.fa-github:before {
  color: black;
}

i.fa-linked-in-in {
  color: #675a47;
}

i.fa-linkedin-in:before {
  color: black;
}

i.fa-twitter:before {
  color: black;
}

i.fa-js-square {
  color: #f7df1e;
  background-color: #2f3b42;
}

i.fa-python {
  color: #4b88ba;
}

i.fa-java {
  color: #f8981d;
}

i.fa-node {
  color: #669b60;
}

i.fa-adobe {
  color: #ff0000;
}

i.fa-css3 {
  color: #1c88c7;
}

i.fa-react {
  animation: rotation 5s infinite linear;
  transform: rotate(360deg);
  color: #61dafb;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
